

.events-content{
  min-height: 100vh;
}

input {
  visibility:hidden;
}
label {
  cursor: pointer;
}
input:checked + label {
  background: red;
}

.event-label{
  padding-right: 5px;
  padding-left: 5px;
}

.event-label label{
  width: 25vh;
  height: 10vh;

  background-color: darkgray;
  color: #f2f2f2;
}
