
.events-content{
  min-height: 100vh;
}

input {
  visibility:hidden;
}
label {
  cursor: pointer;
}
input:checked + label {
  background: red;
}

.event-label{
  padding: 2px;
  height: 10vh;

}

.event-label label{
  width: 100%;
  height: 100%;
  background-color: darkgray;
  color: #f2f2f2;
}

