label.event-label {
  height: 100%;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
}

div{
padding: 0px;
}

img {
  vertical-align: top;
  width: 100%;
  height: 90%;
  padding: 2px;
}

p{
  margin: 0;
  text-align: center;
}

.NO_EVENT {
  visibility: hidden;
}

.VACATION {
  background-color: gold
}

.SICK_LEAVE {
  background-color: darkolivegreen
}

.HOME_OFFICE {
  background-color: cornflowerblue
}

.OTHER {
  background-color: #333333
}

