
h2 {
  margin-top: 10px;
}

button.join-leave-team-button {
  margin: 1px;
  border: 1px solid #f44141;
  color: #f2f2f2;
  background-color: #f44141;
}

label, button {
  border-radius: 0;
}

div.member-label {
  width: 25%;
  padding: 5px;
  display: inline-block;
}

div.member-label > label {
  width: 100%;

  font-size: 18px;
  padding: 10px;
  background-color: coral;
  text-align: center;
}

label.empty-team-label {
  vertical-align: center;
  text-align: center;
  align-items: center;
  display: inline-block;
}

.team-name-label {
  color: black;
  background-color: cadetblue;
  display: block;
  font-size: 18px;
  padding: 10px;
}

.team-element {
  padding: 5px;
  border: 1px solid #f44141;
}
