<div class="team-element">
  <div class="row">
    <div class="col-sm-12">
      <label class="label team-name-label ">{{team.name}}</label>
    </div>
    <div class="col-sm-8"><h4>{{team.description}}</h4></div>
    <div class="col-sm-4">
      <div  *ngIf="isUserInTeam(); else removeFromTeamButton">
        <button class="join-leave-team-button" (click)="openModal(team.id + 1)">Leave</button>
      </div>
      <div > <ng-template #removeFromTeamButton>
        <button class="join-leave-team-button" (click)="openModal(team.id)">Join</button>
      </ng-template>
        <button class="join-leave-team-button" type="submit" routerLink="/boards/{{team.id}}" routerLinkActive="active">See</button></div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="member-label" *ngFor="let member of team.members">
        <label>{{member.name}}</label>
      </div>
      <label *ngIf="team.members.length == 0" class="empty-team-label"><p> There is no members in this team</p></label>
    </div>
  </div>
</div>

<app-modal id="{{team.id}}">
  <h1>Joining Team: {{team.name}}</h1>
  <div class="buttons">
    <button class="custom-model-button" type="button" (click)="updateMembersStatus(team.id, 'ADD');">Send request</button>
    <button class="custom-model-button" type="button" (click)="closeModal(team.id);">Cancel</button>
  </div>
</app-modal>
<app-modal id="{{team.id + 1}}">
  <h1>Leaving Team: {{team.name}}</h1>
  <div class="buttons">
    <button class="custom-model-button" type="button" (click)="updateMembersStatus(team.id, 'REMOVE');">Send request</button>
    <button class="custom-model-button" type="button" (click)="closeModal(team.id+1);">Cancel</button>
  </div>
</app-modal>
