
h2 {
  margin-top: 10px;
}

h4 {
  vertical-align: middle;
  padding-left: 10px;
}

.join-team-button {
  border: 1px solid #f44141;
  margin: 5px;
  border-radius: 0px;
  color: #f2f2f2;
  background-color: #f44141;
}

.join-team-button:hover {
  background-color: red;
}

.members-label {
  border-radius: 0;
  margin: 1px;
}

.team-name-label {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  border-radius: 0;
  padding: 5px;
  background-color: grey;
}

.empty-team-label {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 5px;
  color: grey;
  text-align: center;
}

.tam-label{
  margin: 0px;
  padding: 0px;
}
