
.container-top {
  margin-top: 40px;
}


#search-input {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
}

.single-team-area {
  min-height: 20vh;
  margin: 5px;
  background-color: lightgray;
  padding: 20px 20px 5px;
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
}
