<div class="menu">
  <div class="form-group">
    <div class="col-md-12 right-divider">
      <ul class="nav">
        <li>
          <button class="btn btn-block" [routerLink]="[{outlets: {'left-menu-content': ['new-team']}}]">Create new
            team
          </button>
        </li>
        <li>
          <button class="btn btn-block" href="#">Section</button>
        </li>
        <li>
          <button class="btn btn-block" href="#">Section</button>
        </li>
        <li>
          <button class="btn btn-block" href="#">Section</button>
        </li>
        <li>
          <button class="btn btn-block" href="#">Section</button>
        </li>
        <li>
          <button class="btn btn-block" href="#">Section</button>
        </li>
      </ul>
    </div>
  </div>
</div>
