.profile-content div {
  /*border: 1px solid burlywood;*/
  min-height: 90vh;
}

.profile-header {
  min-height: 10vh;
  margin-bottom: 20px;
  border-bottom: 2px solid #f44141;
}


.profile-header label {
  font-size: 30px;
  min-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

